.todo-field {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 350px;
    min-height: 40px;
    margin-bottom: 10px;
    background: #292929;
    align-items: flex-start;
    padding: 8px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.todo-field:hover {
    transform: scale(1.02);
}

.check-box{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    min-height: 32px;
    width: 32px;
    
    margin-right: 8px;
    background: #2A2A2A;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.check-box:hover{ 
    cursor: pointer;
}

.wrapper-class {
    width: 310px !important;
    display: block !important;
    align-self: right !important;
    padding: 0px;
    position: relative;
}

.toolbar-class-absolute {
    position: absolute !important;
    background: #505050;
    color: black;
    top: -50px;
    font-size: 10px;
    z-index: 999;
    border: none;
    border-radius: 4px;
}

.editor-class {
    font-family: 'Roboto', sans-serif;
    max-width: 100% !important;
    background-color:  #292929;
    padding: 5px;
    overflow-x: hidden;
    color: white;
    scrollbar-width: 2px;
    scrollbar-color: grey;
    font-weight: 400;
    font-size: 14px;
    min-height: 32px;
}

/* This class puts a margin on the top of some div making the text go down */
.public-DraftStyleDefault-block {
    margin: 0 !important;
}
