.todo-field {
    display: flex;
    flex-direction: row;
    width: 300px;
    min-height: 60px;
    background: #292929;

    margin-bottom: 10px;

    align-items: flex-start;
    /* justify-content: space-between; */

    padding: 8px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.todo-field:hover {
    transform: scale(1.02);
}

.check-box{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    min-height: 32px;
    min-width: 32px;
    
    margin-right: 8px;
    background: #2A2A2A;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.check-box:hover{ 
    cursor: pointer;
}

.input-box{
    width:100%;
    position: relative;
    background: pink;
    color: white;
    font-size: 1rem;
    text-align: left;
}

.input-box > span {
    color: red;
}

.wrapper-class {
    width: 100% !important;
    display: block !important;
    padding: 2px;
    position: relative;
    width: 100%;
}

.toolbar-class-absolute {
    position: absolute !important;
    background: #292929;
    color: black;
    top: -80px;
    font-size: 10px;
    width: 200px;
}

.editor-class {
    max-width: 90% !important;
    background-color:#383838;
    padding: 0.7rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

